.blog-card {
  max-width: 70%;
  min-height: 50vh;
  margin: 0 auto;
}
.card-img {
  height: 50vh;
  /* object-fit: cover; */
  transition: 0.5s ease-in-out;
}
.card-img:hover {
  transform: scale(1.5);
}
.my-card-title,
.my-card-tags {
  color: wheat;
}
.card-button {
  position: absolute;
  right: 10px;
  bottom: 10px;
}
.profile-container {
  display: flex;
  flex-direction: row;
  position: absolute;
  left: 10px;
  bottom: 10px;
  cursor: pointer;
}
.profile-name-container {
  display: flex;
  flex-direction: column;
  margin: auto 0;
}
.profile-name-img {
  width: 20%;
  max-height: 10vh;
  object-fit: cover;
  border-radius: 50%;
}
